extends layout

block content
  div.container.mt-4
    div.row
      div.col-9
        form#login-form.col-10(action='')
          div.input-group
            input#login-input.login-input.col-12(placeholder="Choose your nick" autocomplete="off")
            span.input-group-btn
              button.btn.btn-default Login
        div#screen.screen.col-12.invisible


        form#input-form.container-fluid.mt-2.invisible(action="")
          div.input-group
            input#input.col-12.form-control.input(type="text" name="chat" autocomplete="off" placeholder="write something")
            span.input-group-btn
              button#subBut.btn.btn-default Submit

        div#log.col-12.mt-2.log-screen.invisible
          div.text-primary.p-1.my-1 Write: /setTime value_in_seconds to change period for keeping chat history
          div.text-primary.p-1.my-1 Write: /nick #new_nick to change nickname. Name should be 3-15 signs and only letters
      div.col-3.row
        div.col-12
          ul#userBlock.users



  script(src="/socket.io/socket.io.js")
  script(src="https://code.jquery.com/jquery-3.2.1.min.js",
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",
    crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js",
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh",
    crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js",
    integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ",
    crossorigin="anonymous")
  script(src="javascripts/main.js")